[Unit]
Description=RabbitMQ broker
After=syslog.target network.target
Conflicts=epmd.socket
Conflicts=epmd.service

[Service]
Type=notify
User={{ rabbit_system_user_name }}
Group={{ rabbit_system_group_name }}
LimitNOFILE=65535
NotifyAccess=all
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/usr/sbin/rabbitmq-server
ExecStop=/usr/sbin/rabbitmqctl stop

[Install]
WantedBy=multi-user.target
