[
  {rabbit, [
    {loopback_users, []},
    {% if rabbitmq_disable_non_tls_listeners %}{tcp_listeners,[]},{% endif %}
    {ssl_listeners, [5671]},
    {collect_statistics_interval, {{ rabbitmq_collect_statistics_interval }} },
    {ssl_options, [{certfile,"{{ rabbitmq_ssl_cert }}"},
                   {keyfile,"{{ rabbitmq_ssl_key }}"},
                   {% if rabbitmq_user_ssl_ca_cert is defined -%}
                   {cacertfile,"{{ rabbitmq_ssl_ca_cert }}"},
                   {% endif -%}
                   {versions, ['tlsv1.2', 'tlsv1.1']},
                   {ciphers, [
                       {ecdhe_ecdsa,aes_256_gcm,aead,sha384},
                       {ecdhe_rsa,aes_256_gcm,aead,sha384},
                       {ecdhe_ecdsa,aes_256_cbc,sha384,sha384},
                       {ecdhe_rsa,aes_256_cbc,sha384,sha384},
                       {ecdh_ecdsa,aes_256_gcm,aead,sha384},
                       {ecdh_rsa,aes_256_gcm,aead,sha384},
                       {ecdh_ecdsa,aes_256_cbc,sha384,sha384},
                       {ecdh_rsa,aes_256_cbc,sha384,sha384},
                       {dhe_rsa,aes_256_gcm,aead,sha384},
                       {dhe_dss,aes_256_gcm,aead,sha384},
                       {dhe_rsa,aes_256_cbc,sha256},
                       {dhe_dss,aes_256_cbc,sha256},
                       {ecdhe_ecdsa,aes_128_gcm,aead,sha256},
                       {ecdhe_rsa,aes_128_gcm,aead,sha256},
                       {ecdhe_ecdsa,aes_128_cbc,sha256,sha256},
                       {ecdhe_rsa,aes_128_cbc,sha256,sha256},
                       {ecdh_ecdsa,aes_128_gcm,aead,sha256},
                       {ecdh_rsa,aes_128_gcm,aead,sha256},
                       {ecdh_ecdsa,aes_128_cbc,sha256,sha256},
                       {ecdh_rsa,aes_128_cbc,sha256,sha256},
                       {dhe_rsa,aes_128_gcm,aead,sha256},
                       {dhe_dss,aes_128_gcm,aead,sha256},
                       {dhe_rsa,aes_128_cbc,sha256},
                       {dhe_dss,aes_128_cbc,sha256},
                       {ecdhe_ecdsa,aes_256_cbc,sha},
                       {ecdhe_rsa,aes_256_cbc,sha},
                       {dhe_rsa,aes_256_cbc,sha},
                       {dhe_dss,aes_256_cbc,sha},
                       {ecdh_ecdsa,aes_256_cbc,sha},
                       {ecdh_rsa,aes_256_cbc,sha},
                       {ecdhe_ecdsa,aes_128_cbc,sha},
                       {ecdhe_rsa,aes_128_cbc,sha},
                       {dhe_rsa,aes_128_cbc,sha},
                       {dhe_dss,aes_128_cbc,sha},
                       {ecdh_ecdsa,aes_128_cbc,sha},
                       {ecdh_rsa,aes_128_cbc,sha}
                      ]
                   },
                   {verify,verify_none},
                   {fail_if_no_peer_cert,false}]}
    {% if rabbitmq_cluster_partition_handling != 'ignore' %},{cluster_partition_handling, {{ rabbitmq_cluster_partition_handling }}}{% endif %}
    {% if rabbitmq_hipe_compile | bool %},{hipe_compile, true}{% endif %}
  ]},
  {rabbitmq_management, [{rates_mode, {{ rabbitmq_management_rates_mode }} }] }
].
